/* GENERAL */
@font-face {
  font-family: 'KeepCalm';
  src: url(../ttf/KeepCalm-Medium.ttf); }

* {
  margin: 0;
  padding: 0;
  font-family: 'KeepCalm'; }

.mainIndex {
  background-color: #FAFAD2; }

.imgIndex {
  text-align: center;
  height: 20%; }

.menuIndex li {
  list-style: none;
  text-align: center;
  border: solid;
  margin: 10px 20px;
  transition: all 300ms; }
  .menuIndex li a {
    text-decoration: none;
    color: black;
    size: 5px; }

#gridAreas {
  display: grid;
  grid-template-areas: "header menu" "main main" "footer footer";
  grid-template-rows: 1fr 6fr 1fr;
  text-align: center;
  background-color: #FAFAD2; }
  #gridAreas header {
    grid-area: header; }
  #gridAreas aside {
    grid-area: menu; }
    #gridAreas aside .menuInicio {
      padding: 0; }
      #gridAreas aside .menuInicio .pMenu {
        list-style: none;
        border: solid black;
        margin: 5px; }
        #gridAreas aside .menuInicio .pMenu a {
          color: black;
          padding: 0; }
        #gridAreas aside .menuInicio .pMenu .sMenu {
          text-decoration: none;
          display: none;
          position: absolute; }
        #gridAreas aside .menuInicio .pMenu:hover > .sMenu {
          display: block; }
  #gridAreas main {
    grid-area: main; }
  #gridAreas footer {
    display: inline-block;
    grid-area: footer;
    text-align: end; }
    #gridAreas footer ol {
      list-style: none; }
      #gridAreas footer ol a {
        color: black; }
