/* GENERAL */
@media (max-width: 599px){
@import "colores";
@import "tamanos";
@font-face {
    font-family: 'KeepCalm';
    src: url(../ttf/KeepCalm-Medium.ttf);
}
*{
    margin: 0;
    padding: 0;
    font-family: 'KeepCalm';
}
.mainIndex{
    background-color: $colorS;
}
.imgIndex{
    text-align: center;
    width: 15%;
}
.menuIndex{
    li{
        list-style: none;
        text-align: center;
        border: solid;
        margin: 10px 20px;
        a{
            text-decoration:  none;
            color: black;
            size: 5px;
        }
    }

}
header{
    margin: 0;
    grid-area: header;
    .imgHeader{
        margin: 0;
        width: 10rem;
    }
    
}
nav{
    margin: 0;
    grid-area: menu;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    .menuInicio{
        margin-top: 0;
        display: flex;
        flex-direction: row;
        justify-items: center;
        list-style: none;
        margin: 5px;
                a{
                    color: black;
                    padding: 0;
                }
                li{
                    margin: 0.1rem;
                    width: 4.4rem;
                    border: solid;
                    background-color: $colorP;
                }
                h5{
                    font-weight: lighter;
                    font-size: 0.7rem;
                    padding: 0.5%;
                }
                
        }
    }


#gridAreas{
    height: 0;
    display: grid;
    grid-template-areas: 
    "header"
    "menu"
    "main"
    "footer";
    grid-template-rows: 
    2fr 1fr 6fr 1fr;
    text-align: center;
    background-color: $colorS;
    

    main{
        grid-area: main;
        .h2Inicio{
            margin: 5px;
            text-decoration: underline;
        }
        .imgContacto{
            width: $anchoM;
        }
        .artContacto{
            text-align: center;
        }
        .imgRecetas{
            margin: 2rem;
            width: $anchoM;
        }
        .pRecetas{
            margin: 1rem;
            border: solid;
        }
        .sectionCursos{
            margin: 1rem;
            border: solid;
            .buttonCursos{
                margin: 1rem 0.4rem;
                height: 5rem;
                width: 10rem;
                background-color: $colorP;
            }
        }
    }
    footer{
        margin: 1rem;
        display: flex;
        flex-direction: row;
        grid-area: footer;
        justify-content: end;
        ol{
            
            display: flex;
            flex-direction: row;
            list-style: none;
            a{
                color: $colorT;
            }
        }
    }
}
}
@media (min-width: 600px) and (max-width: 1199px){
    @import "colores";
    @import "tamanos";
    @font-face {
        font-family: 'KeepCalm';
        src: url(../ttf/KeepCalm-Medium.ttf);
    }
    *{
        margin: 0;
        padding: 0;
        font-family: 'KeepCalm';
    }
    header{
        height: 15%;
        grid-area: header;
        text-align: center;
        
    }
    nav{
        text-align: center;
        display: flex;
        grid-area: menu;
        background-color: $colorP;
        
    }
    .mainIndex{
        height: 89vh;
        background-color: $colorS;
        border-radius: 15%;
        margin: 3%;
        
    .imgIndex{
        width: 20%;
            margin: 1%;
            text-align: center !important;
    }
    .menuIndex{
        li{
            list-style: none;
            text-align: center;
            border: solid;
            margin: 10px 20px;
            transition: all 300ms;
            a{
                color: black;
                size: 5px;
            }
        }
    
    }
}
       
       
        
    
    footer{
        height: 10%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-content: flex-end;
        grid-area: footer;
        ol{
            margin: 10px;
            display: flex;
            flex-direction: row;
            li{
                list-style: none;
            
            }
        }
    }
    #gridAreas{
        display: grid;
        background-color:#FAFAD2 ;
        grid-template-areas: 
        "menu header"
        "menu main"
        "menu footer";
        grid-template-columns: 
        1fr 7fr;
        .menuInicio{
           display: flex;
           flex-direction: column;
           justify-content: space-around;
           li{
               color: black;
            text-align: center;
            list-style: none;
            padding:  25px ;
            list-style: none;
            a{
                color: black;
            }
            &:hover{
                transition: 0s;
                border: solid;
            }
            i{
                font-size: 50px;
            }
            .h2Inicio{
                color: black;
                text-align: center;
                padding: 10px;
            }
            
        }
        .artInicio{
            display: flex;
            justify-content: center;
            margin: 20px;
            .pInicio{
                margin: 2%;
            }
            
        }
        

        }
        
}
}   
@media (min-width: 1200px){
    @import "colores";
    @import "tamanos";
@font-face {
    font-family: 'KeepCalm';
    src: url(../ttf/KeepCalm-Medium.ttf);
}
*{
    margin: 0;
    padding: 0;
    font-family: 'KeepCalm';
}
    body{
        background-color: gold;
        height: 100vh;
    }
    header{
        height: 15%;
        grid-area: header;
        text-align: center;
        
    }
    nav{
        text-align: center;
        display: flex;
        height: 100%;
        grid-area: menu;
        background-color: gold;
    }
    main{
        top: 0;
    }
    
    footer{
        height: 10%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-content: flex-end;
        grid-area: footer;
        ol{
        margin: 10px;
        display: flex;
        flex-direction: row;
            li{
            list-style: none;
    
    }
    }
    }
    /* ICONOS */
    .bi-house-fill{
        color: black;
    font-size: $tamI
    }
    .bi-people-fill{
        color: black;
        font-size: $tamI
    }
    .bi-cart-fill{
        color: black;
        font-size: $tamI
    }
    .bi-shop-window{
        color: black;
        font-size: $tamI
    }
    .bi-egg-fried{
        color: black;
        font-size: $tamI
    }
    .bi-mortarboard-fill{
        color: black;
        font-size: $tamI
    }
    .bi-facebook{
        color: black;
        font-size: 25px;
    }
    .bi-instagram{
        color: black;
        font-size: 25px;
    }
    
    /* INDEX */
    .mainIndex{
    height: 88%;
    background-color: $colorS;
    border-radius: 15%;
    margin: 3%;
    }
    .imgIndex{
        width: 17%;
    }
    .menuIndex{
        margin: 4rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly ;
        height: 70%;
    
         li{
        width: 8rem;
        align-content: center;
        border: solid;
        padding: 1rem;
        list-style: none;
        text-align: center;
        transition: all 300ms;
            &:hover{
        background-color: $colorP;
            }
            h4{
        text-decoration: none;
         color: $colorT;
        }
            a{
        text-decoration: none $colorT;  
        
    }
}   
}
    
    #gridAreas{
        display: grid;
        background-color: $colorS ;
        grid-template-areas: 
        "menu header"
        "menu main"
        "menu footer";
        grid-template-columns: 
        1fr 7fr;
        .imgHeader{
            width: 20%;
        }
        .menuInicio{
            margin-left: 1.95rem;
           display: flex;
           flex-direction: column;
           justify-content: space-around;
           li{
            color: black;
            text-align: center;
            list-style: none;
            padding:  1rem ;
            &:hover{
                border: solid;
                border-width: 0.1rem;
            }
            a{
                text-decoration: none;
                color: $colorT;
            }
            
    
            
        }
    }
        .artInicio{
            display: flex;
            justify-content: justify;
            margin: 20px;
            .pInicio{
                margin: 2%;
            }
            
        }
        .imgContacto{
            width: 22.5rem;
        }
        .artContacto{
            margin: 2%;
        }
        
        .contenedorReceta{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            height: 30rem;
            div{
                width: 20rem;
                margin: 4.85rem;
                img{
                    width: 100%;
                    
                }
                p{
                    text-align: center;
                    color: black;
                    position: absolute;
                    top: 55%;
                    left: 31.5%;
                    border: solid;
                    width: 3rem;
                    padding: 1rem;
                    opacity: 0;
                }
                &:hover{
                    filter: blur(5px);
                    
                }
            }
        }        
        .sectionCursos{
            display: flex;
            justify-content: space-around;
            width: 70rem;
            height: 20rem;
            margin: 4.3rem;
            border: solid;
            .buttonCursos{
                height: 17rem;
                width: 12rem;
                margin: 1.4rem;
            }
        }
        
        
    }

       
       
        
    
    footer{
        height: 10%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-content: flex-end;
        grid-area: footer;
        ol{
            margin: 10px;
            display: flex;
            flex-direction: row;
            li{
                list-style: none;
            
            }
        }
    }
    
}